.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background: linear-gradient(to right, #9733EE, #DA22FF); */
  background: linear-gradient(to right, #1a2980, #26d0ce);
}

.form-container{
  background: #fff;
  border-radius: 20px;
  padding: 30px 80px;
  max-width: 0 auto;
  box-shadow: 0 15px 16px 17px rgba(0,0,0,0.3);
}
p{
  margin:3px 0px ;
  font-size: smaller;
  color:grey;
}

#last{
  text-align: center;
  color: #1a2980;
}